@media only screen and (max-width: 600px) {
    mat-form-field {
        width: 100%;
    }

    button {
      width: 100%;
    }

    mat-card-actions {
      padding: initial;
    }
}

@media only screen and (min-width: 601px) {
    mat-form-field {
        width: 48%;
        margin-left: 10px;
        margin-right: 10px;
    }

    .mat-mdc-table    {
      max-width: 98%;
      min-width: 98%;
      margin-left: 10px;
      margin-right: 10px;
      max-height: 320px;
      overflow: auto; 
      }
}


  
  