@media only screen and (max-width: 600px) {
    mat-form-field,.form-control {
        width: 100%;
    }

    mat-card-actions {
        margin-left: 10px;
    }

    button{
        width: 100%;
    }
}

@media only screen and (min-width: 601px) {
    mat-form-field {
        width: 48%;
    }

    mat-card-actions {
        margin-left: 20px;
    }
}
