.mat-mdc-table[matTableResponsive] .mobile-column {
  display: none;
}

@media (max-width: 768px) {
  .mat-mdc-table[matTableResponsive] .desktop-column {
    display: none;
  }

  .header-mobile {
    width: 30%;
  }

  .mat-mdc-table[matTableResponsive] .mobile-column {
    display: flex;
    justify-content: left;
    padding: 0 0.5rem;
  }

  .mat-mdc-table[matTableResponsive] .mobile-column .mo {
    display: flex;
    justify-content: left;
    padding: 0 0.5rem;
  }

  .mat-mdc-table[matTableResponsive] .mat-mdc-header-row {
    display: none;
 }
 
  .mat-mdc-table[matTableResponsive] .mat-mdc-row {
    height: auto;
 }
  .mat-mdc-table[matTableResponsive] .mat-mdc-row td.mat-mdc-cell {
    display: grid;
    padding: 0.5rem;
    text-align: left;
    word-break: break-word;
 }

  .mat-mdc-table[matTableResponsive] .mat-mdc-row td.mat-mdc-column-actions {
    display: flex;
    justify-content: center;
    padding: 0 0.5rem;
 }
  .mat-mdc-table[matTableResponsive] .mat-mdc-row td.mat-mdc-column-actions > button {
    margin: 0.5rem 0;
 }
  .mat-mdc-table[matTableResponsive] .mat-mdc-row:last-of-type td:last-of-type {
    border: none;
 }
  .mat-mdc-table[matTableResponsive] .mat-mdc-row:not(:last-of-type) td:last-of-type {
    border-bottom: 1rem solid #fafafa;
 }
  .mat-mdc-card .mat-mdc-table[matTableResponsive], .mat-mdc-expansion-panel .mat-mdc-table[matTableResponsive] {
    border: 0.5rem solid #fafafa;
 }
 .mdc-data-table__row:last-child .mdc-data-table__cell {
  border-bottom: solid !important;
  border-bottom-width: 1px !important;
  border-bottom-color: rgba(0, 0, 0, 0.12) !important;
 }
}
