:host {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

html {
  background-color: #56baed;
}

h2 {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  display:inline-block;
  margin: 40px 8px 10px 8px; 
  color: #cccccc;
}

::ng-deep.mat-form-field{
    width: 80% !important;
}

mat-card{
  background: #fff;
  padding: 30px;
  width: 90%;
  justify-content: center;
  max-width: 600px;
  position: relative;
  padding-bottom: 30px;
  text-align: center;
}

::ng-deep.mat-tab-label, ::ng-deep.mat-tab-label-active{
  width: 50% !important;
 }

::ng-deep .mat-card h1 {
  margin: 1em;
  padding: 0.5em;
  border-top: 3px solid #3f51b5;
  border-bottom: 3px solid #3f51b5;
  text-align: center;
  font-weight: 500;
}

.mat-card-header{
  color: #3f51b5;
  justify-content: center;
  align-items: center;
}

::ng-deep .mat-raised-button {
  width: 50%;
}