<app-page-header header="Dołącz do wydarzenia" icon="add_circle">

</app-page-header>

<div style="padding: 0 20px">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Podaj kod wydarzenia aby do niego dołączyć</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <br>
      <br>
      <form [formGroup]="form" (ngSubmit)="submit()">
        <mat-form-field appearance="outline">
          <mat-label>Kod wydarzenia</mat-label>
          <input matInput formControlName="code" placeholder="Kod wydarzenia">
        </mat-form-field>
        <br>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <div >
        <button mat-raised-button color="primary" (click)="submit()">Dołącz</button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>